<div class='row display-content'>
  <div class="small-12 columns">
    <h3><%= @bet.title %></h3>
    <div class= "panel">
      <% if !@bet.accepted? && !@bet.declined? %>
        <h5><div style="color:red"><span class="center">**Bet is Pending Approval**</span></div></h5>
      <% elsif @bet.accepted? %>
        <h5><div style="color:green"><span class="center">**Bet is Accepted**</span></div></h5>
      <% end %>

      <h4>This bet was issued by <%= link_to @bet.sender.username, user_path(@bet.sender) %>
         to <%= link_to @bet.receiver.username, user_path(@bet.receiver) %></h4>
        <p><span class="bold">Terms of Bet:</span> <%= @bet.body %></p>
        <p><span class="bold">Wager Type:</span> <%= @bet.wager.name %></p>

      <% if !@bet.date.nil? %>
        <p><span class="bold">Date:</span> <%= @bet.date %></p>
      <% end %>
    </div>
  </div>
</div>

<div class='row'>
  <% if !@bet.accepted? && !@bet.declined? && current_user == @bet.receiver %>
  <div class='small-6 columns'>
    <%= link_to "Accept", accept_bet_path(@bet), method: :patch, class: "button round success" %>
  </div>
  <div class='small-6 columns'>
    <%= link_to "Decline", decline_bet_path(@bet), method: :patch, class: "button round alert" %>
  </div>
  <% end %>
</div>


<div class='row display-content'>
  <div class="small-12 columns">
    <h4>Comments</h4>
    <div class= "panel">
      <% if @bet.comments.length == 0 %>
        <p>No reviews yet.</p>
      <% else %>
      <ul>
        <% @bet.comments.each do |comment| %>
            <span class="bold"><%= "#{comment.user.username}" + ":" %></span>
            <li>
                <%= "#{comment.body}" unless comment.body.nil? %>
                <div class="comment-delete">
                  <% if current_user == comment.user %>
                  <%= link_to 'Delete', bet_comment_path(@bet, comment), method: :delete, class: "tiny round button alert" %>
                  <% end %>
                </div>
            </li>
            <%- end -%>
        </ul>
        <%- end -%>
    </div>
    <div class="comment-new small-12 column">
      <%= render 'comments/form' %>
    </div>
  </div>
</div>
