<div><h2><%= @user.username %></h2></div>
<div class="all bets">
  <div class="row index-content" data-equalizer>
    <div class="accepted-bets small-6 columns panel" data-equalizer-watch>
      <h4>Sent Bets<h4>
        <ol>
          <% @sent_bets.each do |bet| %>
            <% if bet.accepted? %>
              <li><%= link_to bet.title, bet_path(bet) %></li>
            <% else %>
              <li><%= link_to bet.title + "***PENDING***", bet_path(bet) %></li>
            <% end %>
          <% end %>
        </ol>
    </div>
    <div class="pending-bets small-6 columns panel" data-equalizer-watch>
      <h4>Recieved Bets</h4>
        <ol>
          <% @receive_bets.each do |bet| %>
            <% if bet.accepted? %>
              <li><%= link_to bet.title, bet_path(bet) %></li>
            <% else %>
              <li><%= link_to bet.title + "***PENDING***", bet_path(bet) %></li>
            <% end %>
          <% end %>
        </ol>
    </div>
  </div>

<% if current_user != @user %>
  <div class="row" id="flip">
    <div class="button round">Send '<%= @user.username %>' a Bet</div>
  </div>
<% end %>
  <div id="panel">
    <div class="row bet">
      <%= form_for @bet do |f| %>
        <%= f.label :email %>
        <%= f.text_field :receiver_id, id:'Email', value: @user.email %>

        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :terms %>
        <%= f.text_area :body, id:'Terms' %>

        <%= f.label :wager_id %>
        <%= f.collection_select(:wager_id, Wager.all, :id, :name,
          prompt: true) %>

        <%= f.label :Date, "Date(optional)" %>
        <%= f.text_field :date, id: 'Date' %>


        <span class="center"><%= f.submit 'Submit Bet', class: "button round success" %></span>
      <% end %>
    </div>
  </div>
</div>
